{% extends "base.html" %}

{% block content %}

<div class="relative isolate overflow-hidden  py-24 sm:py-32">
    <div class="mx-auto max-w-7xl px-6 lg:px-8 grid grid-cols-1 md:grid-cols-2 gap-4">
      <div class="flex-wrap">
        <!--column 1--->
        <div class="w-full p-6">
          <h2 class="text-4xl font-bold tracking-tight text-black sm:text-6xl">Predicciones</h2>
          <p class=" text-lg leading-8 text-black">La prediccion sobre la residencia de infarto tiene como finalidad aportar una herramienta que permita enriquecer el criterio médico para fortalecer las posibles reencidencias de un paciente que ha presentado un paro cardíaco, situando la información en la población centralizada en México.</p>

        </div>

        <div class="text-center mb-8 mt-10">
          <h1 class="text-4xl font-bold text-black">Resultado de la predicción: </h1>
              <h1 id='resultado' class="text-4xl font-bold text-black">
                  {{resultado}}  
              </h1>  
      </div>
      </div>

      <div class="grid grid-cols-1 gap-4">
        <!--column 2-->
        <div class="w-full px3">
          <div class="text-center mb-8">
            <h1 class="text-4xl font-bold text-black ">Datos de predicción</h1>
          </div>

          <form action="{% url 'prediction' %}"  method='post' class="bg-white p-6 rounded-lg shadow-lg grid grid-cols-1 md:grid-cols-2 gap-4">
            {% csrf_token %}
            <div class="md:col-span-2">
                <label for="EDAD" class="block text-sm font-medium text-gray-700">Edad</label>
                <input type="number" id="EDAD" name="EDAD" 
                       class=" block w-full rounded-md border-gray-300 shadow-sm focus:border-red-300 focus:ring focus:ring-red-200 focus:ring-opacity-50" required>
            </div>
    
            <div>
                <label for="SEXO" class="block text-sm font-medium text-gray-700">Sexo</label>
                   <select id="SEXO" name="SEXO" class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-red-300 focus:ring focus:ring-red-200 focus:ring-opacity-50" required>
                     <option value="1">Masculino</option>
                     <option value="2">Femenino</option>
                   </select> 
            </div>

            <div>
                <label for="DM2" class="block text-sm font-medium text-gray-700">DM2</label>
                   <select id="DM2" name="DM2" class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-red-300 focus:ring focus:ring-red-200 focus:ring-opacity-50" required>
                     <option value="1">Presenta</option>
                     <option value="0">No Presenta</option>
                   </select> 
            </div>

            <div>
                <label for="HAS" class="block text-sm font-medium text-gray-700">HAS</label>
                   <select id="HAS" name="HAS" class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-red-300 focus:ring focus:ring-red-200 focus:ring-opacity-50" required>
                     <option value="1">Presenta</option>
                     <option value="0">No Presenta</option>
                   </select> 
            </div>

            <div>
                <label for="OBESIDAD" class="block text-sm font-medium text-gray-700">OBESIDAD</label>
                   <select id="OBESIDAD" name="OBESIDAD" class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-red-300 focus:ring focus:ring-red-200 focus:ring-opacity-50" required>
                     <option value="1">Presenta</option>
                     <option value="0">No Presenta</option>
                   </select> 
            </div>

            <div>
                <label for="INFARTO_PREVIO" class="block text-sm font-medium text-gray-700">INFARTO PREVIO</label>
                   <select id="INFARTO_PREVIO" name="INFARTO_PREVIO" class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-red-300 focus:ring focus:ring-red-200 focus:ring-opacity-50" required>
                     <option value="1">Presenta</option>
                     <option value="0">No Presenta</option>
                   </select> 
            </div>

            <div>
                <label for="FALLA_RENAL" class="block text-sm font-medium text-gray-700">FALLA RENAL</label>
                   <select id="FALLA_RENAL" name="FALLA_RENAL" class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-red-300 focus:ring focus:ring-red-200 focus:ring-opacity-50" required>
                     <option value="1">Presenta</option>
                     <option value="0">No Presenta</option>
                   </select> 
            </div>

            <div>
                <label for="ALCOHOLISMO" class="block text-sm font-medium text-gray-700">ALCOHOLISMO</label>
                   <select id="ALCOHOLISMO" name="ALCOHOLISMO" class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-red-300 focus:ring focus:ring-red-200 focus:ring-opacity-50" required>
                     <option value="1">Presenta</option>
                     <option value="0">No Presenta</option>
                   </select> 
            </div>

            <div>
                <label for="TABAQUISMO" class="block text-sm font-medium text-gray-700">TABAQUISMO</label>
                   <select id="TABAQUISMO" name="TABAQUISMO" class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-red-300 focus:ring focus:ring-red-200 focus:ring-opacity-50" required>
                     <option value="1">Presenta</option>
                     <option value="0">No Presenta</option>
                   </select> 
            </div>
            <div>
              <label for="EDADMAYOR" class="block text-sm font-medium text-gray-700">EDAD MAYOR A 65 AÑOS</label>
                 <select id="EDADMAYOR" name="EDADMAYOR" class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-red-300 focus:ring focus:ring-red-200 focus:ring-opacity-50" required>
                   <option value="1">SI</option>
                   <option value="0">NO</option>
                 </select> 
          </div>

          <div>
              <label for="FACTORES" class="block text-sm font-medium text-gray-700">PRESENTA 3 0 MÁS FACTORES DE RIESGO(Hipertensión, hipercolesterolemia, diabetes, antecedentes familiares de enfermedad coronaria o fumador actual.)</label>
                 <select id="FACTORES" name="FACTORES" class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-red-300 focus:ring focus:ring-red-200 focus:ring-opacity-50" required>
                   <option value="1">Presenta</option>
                   <option value="0">No Presenta</option>
                 </select> 
          </div>
          <div>
            <label for="AAS" class="block text-sm font-medium text-gray-700">USO DE AAS EN LOS ÚLTIMOS 7 DÍAS</label>
               <select id="AAS" name="AAS" class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-red-300 focus:ring focus:ring-red-200 focus:ring-opacity-50" required>
                 <option value="1">Presenta</option>
                 <option value="0">No Presenta</option>
               </select> 
        </div>

        <div>
            <label for="ANGINAGRAVE" class="block text-sm font-medium text-gray-700">ANGINA GRAVE (2 o más episodios en 24 horas)</label>
               <select id="ANGINAGRAVE" name="ANGINAGRAVE" class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-red-300 focus:ring focus:ring-red-200 focus:ring-opacity-50" required>
                 <option value="1">Presenta</option>
                 <option value="0">No Presenta</option>
               </select> 
        </div>
        <div>
          <label for="ST" class="block text-sm font-medium text-gray-700">Cambios del ST en el ECG mayores a 0,5 mm</label>
             <select id="ST" name="ST" class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-red-300 focus:ring focus:ring-red-200 focus:ring-opacity-50" required>
               <option value="1">Presenta</option>
               <option value="0">No Presenta</option>
             </select> 
      </div>

      <div>
          <label for="MARCADORPOSITIVO" class="block text-sm font-medium text-gray-700">Marcador cardíaco positivo</label>
             <select id="MARCADORPOSITIVO" name="MARCADORPOSITIVO" class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-red-300 focus:ring focus:ring-red-200 focus:ring-opacity-50" required>
               <option value="1">Presenta</option>
               <option value="0">No Presenta</option>
             </select> 
      </div>
      <div>
        <label for="CAD" class="block text-sm font-medium text-gray-700">CAD conocida (estenosis MAYOR A 50%)</label>
           <select id="CAD" name="CAD" class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-red-300 focus:ring focus:ring-red-200 focus:ring-opacity-50" required>
             <option value="1">Presenta</option>
             <option value="0">No Presenta</option>
           </select> 
    </div>

    

            <div class="md:col-span-2">
                <button type="submit" 
                        class="w-full flex justify-center py-2 px-4 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-red-600 hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-500">
                    Predecir
                </button>
            </div>  
          </form>
       </div>
      </div>

      
      <div class=" ">
        <div class="w-full max-w-md mx-auto">
          <canvas id="myChart"></canvas>
        </div>
      </div>

      <div>
        <div class="w-full max-w-md mx-auto">
          <canvas id="myCharttwo"></canvas>
        </div>
      </div>
      

      <div>
        <div class="w-full max-w-md mx-auto">
          <canvas id="myChartthree"></canvas>
        </div>
      </div>

      <div>
        <div class="w-full max-w-md mx-auto">
          <canvas id="myChartfour"></canvas>
        </div>
      </div>

    </div>
    
    

    <div class="mx-auto max-w-7xl px-6 lg:px-8 grid grid-cols-1 md:grid-cols-2 gap-4">
      <div class="flex-wrap">
        <!--column 1--->
        <div class="w-full p-6">
          <h2 class="text-4xl font-bold tracking-tight text-black sm:text-6xl">TIMI</h2>
          <p class=" text-lg leading-8 text-black">Puede usarse para ayudar a estratificar el riesgo de pacientes con presunto dolor torácico isquémico.  Sin embargo, originalmente se derivó en pacientes con angina inestable confirmada o infarto de miocardio sin elevación del segmento ST.</p>

        </div>

        <div class="text-center mb-8 mt-10">
          <h1 class="text-4xl font-bold text-black">Puntaje de riesgo </h1>
              <h1 class="text-4xl font-bold text-black">
                {{ timi_result_valules }}

                {% if timi_result_valules == 0 %}
                  <h1 class="text-xl font-bold text-black">0 puntos
                    Riesgo del 5% a los 14 días de: mortalidad por todas las causas, IM nuevo o recurrente, o isquemia recurrente grave que requiera revascularización urgente.</h1>
                {% elif timi_result_valules == 1 %} 
                  <h1 class="text-xl font-bold text-black">1 punto 
                    Riesgo del 5% a los 14 días de: mortalidad por todas las causas, IM nuevo o recurrente, o isquemia recurrente grave que requiera revascularización urgente.</h1>
                {% elif timi_result_valules == 2 %} 
                  <h1 class="text-xl font-bold text-black">2 puntos
                    Riesgo del 8% a los 14 días de: mortalidad por todas las causas, IM nuevo o recurrente, o isquemia recurrente grave que requiera revascularización urgente.</h1>
                {% elif timi_result_valules == 3 %} 
                  <h1 class="text-xl font-bold text-black">3 puntos
                    Riesgo del 13% a los 14 días de: mortalidad por todas las causas, IM nuevo o recurrente, o isquemia recurrente grave que requiera revascularización urgente.</h1>
                {% elif timi_result_valules == 4 %} 
                  <h1 class="text-xl font-bold text-black">4 puntos
                    Riesgo del 20% a los 14 días de: mortalidad por todas las causas, IM nuevo o recurrente, o isquemia recurrente grave que requiera revascularización urgente.</h1>
                {% elif timi_result_valules == 5 %} 
                  <h1 class="text-xl font-bold text-black">5 puntos
                    Riesgo del 26% a los 14 días de: mortalidad por todas las causas, IM nuevo o recurrente, o isquemia recurrente grave que requiera revascularización urgente.</h1>
                {% elif timi_result_valules == 6 %} 
                  <h1 class="text-xl font-bold text-black">6 puntos
                    41% de riesgo a los 14 días de: mortalidad por todas las causas, IM nuevo o recurrente, o isquemia recurrente grave que requiera revascularización urgente.</h1>
                {% else %}
                  <h1 class="text-xl font-bold text-black">7 puntos
                    41% de riesgo a los 14 días de: mortalidad por todas las causas, IM nuevo o recurrente, o isquemia recurrente grave que requiera revascularización urgente.</h1>
                {% endif %}
                

          </h1>  
      </div>
      </div>

      <div class="grid grid-cols-1 gap-4">
        <!--column 2-->
        <div class="w-full px3">
          <div class="text-center mb-8">
            <h1 class="text-4xl font-bold text-black ">TIMI Puntaje de Riesgo</h1>

            <div>
              <div class="w-full max-w-md mx-auto">
                <canvas id="myChartfive"></canvas>
              </div>
            </div>


          </div>

         
       </div>
      </div>
    </div>

    




</div>

{% endblock %}

