{% extends "base.html" %}

{% block content %}

<div class="relative isolate overflow-hidden bg-gray-100 py-24 sm:py-32">
    <img src="https://images.pexels.com/photos/17485744/pexels-photo-17485744/free-photo-of-abstracto-tecnologia-investigacion-digital.png?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="" class=" opacity-75 absolute inset-0 -z-10 h-full w-full object-cover object-right md:object-center"> 
    <div class=" bg-gray-700 hidden sm:absolute sm:-top-10 sm:right-1/2 sm:-z-10 sm:mr-10 sm:block sm:transform-gpu sm:blur-3xl" aria-hidden="true">
      <div class="aspect-[1097/845] w-[68.5625rem] bg-gradient-to-tr from-[#ff4694] to-[#776fff] opacity-20" style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"></div>
    </div>
    <div class="absolute -top-52 left-1/2 -z-10 -translate-x-1/2 transform-gpu blur-3xl sm:top-[-28rem] sm:ml-16 sm:translate-x-0 sm:transform-gpu" aria-hidden="true">
      <div class="aspect-[1097/845] w-[68.5625rem] bg-gradient-to-tr from-[#ff4694] to-[#776fff] opacity-20" style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"></div>
    </div>
    <div class="mx-auto max-w-7xl px-6 lg:px-8 grid grid-cols-2">
      <div class="flex-wrap">
        <!--column 1--->
        <div class="w-full p-6">
          <h2 class="text-4xl font-bold tracking-tight text-white sm:text-6xl">Predicciones</h2>
          <p class=" text-lg leading-8 text-gray-300">La prediccion sobre la residencia de infarto tiene como finalidad aportar una herramienta que permita enriquecer el criterio médico para fortalecer las posibles reencidencias de un paciente que ha presentado un paro cardíaco, situando la información en la población centralizada en México.</p>

        </div>

        <div class="text-center mb-8 mt-10">
          <h1 class="text-4xl font-bold text-white">Resultado de la prediccion: </h1>
              <h1 class="text-4xl font-bold text-white">
                  {{resultado}}  
          </h1>  
      </div>
      </div>

      <div class="flex-wrap">
        <!--column 2-->
        <div class="w-full px3">
          <div class="text-center mb-8">
            <h1 class="text-4xl font-bold text-white ">Datos de predicción</h1>
          </div>

          <form action="{% url 'prediction' %}"  method='post' class="bg-white p-6 rounded-lg shadow-lg grid grid-cols-1 md:grid-cols-2 gap-4">
            {% csrf_token %}
            <div class="md:col-span-2">
                <label for="EDAD" class="block text-sm font-medium text-gray-700">Edad</label>
                <input type="number" id="EDAD" name="EDAD" 
                       class=" block w-full rounded-md border-gray-300 shadow-sm focus:border-red-300 focus:ring focus:ring-red-200 focus:ring-opacity-50" required>
            </div>
    
            <div>
                <label for="SEXO" class="block text-sm font-medium text-gray-700">Sexo</label>
                   <select id="SEXO" name="SEXO" class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-red-300 focus:ring focus:ring-red-200 focus:ring-opacity-50" required>
                     <option value="1">Masculino</option>
                     <option value="2">Femenino</option>
                   </select> 
            </div>

            <div>
                <label for="DM2" class="block text-sm font-medium text-gray-700">DM2</label>
                   <select id="DM2" name="DM2" class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-red-300 focus:ring focus:ring-red-200 focus:ring-opacity-50" required>
                     <option value="1">Presenta</option>
                     <option value="0">No Presenta</option>
                   </select> 
            </div>

            <div>
                <label for="HAS" class="block text-sm font-medium text-gray-700">HAS</label>
                   <select id="HAS" name="HAS" class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-red-300 focus:ring focus:ring-red-200 focus:ring-opacity-50" required>
                     <option value="1">Presenta</option>
                     <option value="0">No Presenta</option>
                   </select> 
            </div>

            <div>
                <label for="OBESIDAD" class="block text-sm font-medium text-gray-700">OBESIDAD</label>
                   <select id="OBESIDAD" name="OBESIDAD" class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-red-300 focus:ring focus:ring-red-200 focus:ring-opacity-50" required>
                     <option value="1">Presenta</option>
                     <option value="0">No Presenta</option>
                   </select> 
            </div>

            <div>
                <label for="INFARTO_PREVIO" class="block text-sm font-medium text-gray-700">INFARTO PREVIO</label>
                   <select id="INFARTO_PREVIO" name="INFARTO_PREVIO" class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-red-300 focus:ring focus:ring-red-200 focus:ring-opacity-50" required>
                     <option value="1">Presenta</option>
                     <option value="0">No Presenta</option>
                   </select> 
            </div>

            <div>
                <label for="FALLA_RENAL" class="block text-sm font-medium text-gray-700">FALLA RENAL</label>
                   <select id="FALLA_RENAL" name="FALLA_RENAL" class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-red-300 focus:ring focus:ring-red-200 focus:ring-opacity-50" required>
                     <option value="1">Presenta</option>
                     <option value="0">No Presenta</option>
                   </select> 
            </div>

            <div>
                <label for="ALCOHOLISMO" class="block text-sm font-medium text-gray-700">ALCOHOLISMO</label>
                   <select id="ALCOHOLISMO" name="ALCOHOLISMO" class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-red-300 focus:ring focus:ring-red-200 focus:ring-opacity-50" required>
                     <option value="1">Presenta</option>
                     <option value="0">No Presenta</option>
                   </select> 
            </div>

            <div>
                <label for="TABAQUISMO" class="block text-sm font-medium text-gray-700">TABAQUISMO</label>
                   <select id="TABAQUISMO" name="TABAQUISMO" class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-red-300 focus:ring focus:ring-red-200 focus:ring-opacity-50" required>
                     <option value="1">Presenta</option>
                     <option value="0">No Presenta</option>
                   </select> 
            </div>

            <div class="md:col-span-2">
                <button type="submit" 
                        class="w-full flex justify-center py-2 px-4 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-red-600 hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-500">
                    Predecir
                </button>
            </div>  
        </form>

          
        </div>
      </div>

      <div style="width:400px; height:400px;">
        <canvas id="myChart"></canvas>
      </div>

    </div>
    
   

    




</div>

{% endblock %}

